<div>
    <footer class="footer-center footer-minimal" id="footer">
        <div class="content">
        <div class="container">
            <div class="row footer-main">
                <p class="footer-title" >CONTACTS info@school.com    (+02) 022 5566888    Skype school.name </p>
                
                <hr class="space xs" />
                <div class="btn-group navbar-social">
                    <div class="btn-group social-group">
                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                        <a target="_blank" href="#"><i class="fa fa-youtube"></i></a>
                    </div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    <div class="tag-row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


</div>


