<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap" rel="stylesheet"> 

</head>
<body style="background-color: #e5e5e5">
    

      <br>

   <div class="container">
     <div class="row">
        <div class="col-8">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Horarios
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">1º A</li>
                    <li class="list-group-item">1º B</li>
                    <li class="list-group-item">2º A</li>
                    <li class="list-group-item">2º B</li>
                    <li class="list-group-item">3º A</li>
                    <li class="list-group-item">3º B</li>
                    <li class="list-group-item">4º A</li>
                    <li class="list-group-item">4º B</li>
                    <li class="list-group-item">5º A</li>
                    <li class="list-group-item">5º B</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Planes de Estudios
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                  <ul class="list-group">
                    <li class="list-group-item">1º</li>
                    <li class="list-group-item">2º</li>
                    <li class="list-group-item">3º</li>
                    <li class="list-group-item">4º</li>
                    <li class="list-group-item">5º</li>
                  </ul>
                </div>
              </div>
            </div>
            
          
          </div>
        </div>
        
        <div class="col-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Calendario escolar</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Ver</a>
            </div>
          </div>
          <br>
          <button type="button" class="btn btn-outline-secondary" style="margin-left: 5px; margin-right: 5px;"><a [routerLink]="['login']">Login</a></button>
          <a [routerLink] = "['login']" >Login</a>
        </div>
      </div>
   </div>         
</body>
</html>