<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap" rel="stylesheet">

  <title>Cuentas</title>
</head>

<body>
  <div class="container">
    <h1>Registro de Asistencia</h1>
    <form action="">
      <div class="row">
        <div class="col-11">
          <br>
          <div class="row">

            <div id="b" class="col-3">
              <label for="exampleInputPassword1" class="form-label">Curso</label>
              <div class="col-3">
                <select name="OS">
                  <option value="1">1°</option>
                  <option value="2">2°</option>
                  <option value="3">3°</option>
                  <option value="10">4°</option>
                  <option value="11">5°</option>
                  <option value="12">6°</option>
                </select>
              </div>
            </div>

            <div id="a" class="col-3">
              <label for="exampleInputPassword1" class="form-label">División</label>
              <div class="col-3">
                <select name="OS">
                  <option value="1">A</option>
                  <option value="2">B</option>
                  <option value="3">C</option>
                </select>
              </div>
            </div>
            <br><br><br>


            <br><br><br>

            <div class="col-3">
              <label for="exampleInputPassword1" class="form-label">Dia</label>
              <input type="date" class="form-control" id="exampleInputPassword1">
            </div>


          </div>
          <br>
          <div class="col-12">
            <button type="reset" class="btn btn-success">BUSCAR</button>
          </div>

          <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Dni</th>
                <th scope="col">Asistencia</th>
                <th scope="col">Justificación</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Ana</td>
                <td>Soto</td>
                <td>46.543.233</td>
                <td>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                  </div>


                </td>

                <td>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                  </div>


                </td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Camila</td>
                <td>Mamani</td>
                <td>45.567.432</td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                  </div>
                </td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Jose</td>
                <td>Jose</td>
                <td>45.345.654</td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                  </div>
                </td>
                <td>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">

                    </label>
                  </div>
                </td>
              </tr>


            </tbody>
          </table>

          <br>
          <div class="col-12" style="text-align: center;">
            <button type="reset" class="btn btn-success">Limpiar</button> <br><br>
            <button type="reset" class="btn btn-success">Registrar</button> <br><br>
          </div>
          <br><br>
        </div>
      </div>
    </form>
  </div>




</body>

</html>