<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>   
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap" rel="stylesheet"> 

</head>
<body style="background-color: #e5e5e5">    
      <br>
   <div class="container">
     <div class="row">
        <div class="col-8">
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Consultar
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form>
                        
                          <legend>Ingrese DNI de alumno</legend>
                          <div class="input-group mb-3">
                            <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="dniBusqueda">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="buscarPorDni()">Buscar</button>
                          </div>
                    </form>
                    <table class="table">
                      <thead class="table-dark">
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Apellido</th>
                          <th scope="col">Nombre</th>
                          <th scope="col">Curso</th>
                          <th scope="col">Division</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let alumno of tablaDeAlumnos">
                          <th scope="row">{{tablaDeAlumnos.indexOf(alumno)+1}}</th>
                          <td>{{alumno.Apellido}}</td>
                          <td>{{alumno.Nombre}}</td>
                          <td>{{alumno.curso}}</td>
                          <th>{{alumno.division}}</th>
                        </tr>
                      </tbody>
                    </table>                      
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Registrar nuevo pago
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <form>
                        
                          <legend>Formulario de pago</legend>
                          <div class="mb-3">
                            <label for="disabledTextInput" class="form-label">Dni del alumno</label>
                            <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input" [(ngModel)]="dniPago">
                          </div>
                          <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Metodo de Pago</label>
                            <select id="disabledSelect" class="form-select">
                              <option>Efectivo</option>
                              <option>Tarjeta</option>
                              <option>Transferencia</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label for="disabledSelect" class="form-label">Cuotas Pagadas</label>
                            <select id="disabledSelect" class="form-select" [(ngModel)]="cuotasPagadas">
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                          </div>
                          <div style="text-align: center;">
                              <button type="submit" class="btn btn-primary" (click)="generarPago()">Registrar</button>
                              <button type="submit" class="btn btn-primary">Limpiar</button>
                          </div>
                          
                       
                      </form>
        </div>
              </div>
              
            </div>  

          </div>         
          
        </div>
            <div class="col-4">
                  <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action">Subir Documentos</a>
                    <a href="#" class="list-group-item list-group-item-action">Asistencia</a>
                    <a href="#" class="list-group-item list-group-item-action">Generar Constancias</a>
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Pagos</a>
                  </div>
            </div>
    
       </div>
   </div>
         
              

</body>
</html>