<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@600&display=swap" rel="stylesheet"> 

</head>
<body style="background-color: #e5e5e5">    
    <br>

   <div class="container">
        <div class="row">
            <div class="col-8">
         
                <form>        
                    <legend>Ingrese DNI de alumno</legend>
                    <div class="input-group mb-3">
                      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="button-addon2">
                      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
                    </div>
                    <table class="table" style="vertical-align: middle;">
                        <thead class="table-dark">
                            <td>
                                Nombre 
                            </td>
                            <td>
                                Apellido
                            </td>
                            <td>
                                Curso 
                            </td>
                            <td>
                                Division
                            </td>
                            <td>
                                Estado
                            </td>
                        </thead>
                        <tbody>
                            <td>
                                Juan
                            </td>
                            <td>
                                Perez
                            </td>
                            <td>
                                2º 
                            </td>
                            <td>
                                B
                            </td>
                            <td>
                                REGULAR
                            </td>
                        </tbody>
                      </table>
                        <div style="text-align: center;">
                             <button type="button" class="btn btn-success">Generar</button>
                        </div>    
                </form>                   
            </div>

            <div class="col-4">
                  <div class="list-group">

                    <a href="#" class="list-group-item list-group-item-action " aria-current="true">Asistencia</a>
                    <a href="#" class="list-group-item list-group-item-action active" aria-current="true">Constancias</a>
                  </div>
            </div>
    
        </div>
   </div>
         
</body>
</html>